# compiled output
/dist
/tmp

# Logs
pids
logs
*.pid
*.log

# Never commit node_modules
/node_modules

# For Angular2 NEVER commit Javascript files to GIT
*.js
*.js.map

# Tarballs
*.gz
*.tgz

# Other
*.seed
*.csv
*.dat
*.out
.reloadStatic

# Environment-specific configuration - NEVER commit to GIT
.env

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db